 body {
   /* ervoor zorgen dat ze niets kunnen selecteren, die blauwe kleur is vervelend. */
   -webkit-touch-callout: none;
   /* iOS Safari */
   -webkit-user-select: none;
   /* Safari */
   -khtml-user-select: none;
   /* Konqueror HTML */
   -moz-user-select: none;
   /* Firefox */
   -ms-user-select: none;
   /* Internet Explorer/Edge */
   user-select: none;
 }

 .logo {
   font-family: 'Russo One', sans-serif;
   font-weight: bold;
 }

 .profile, .login, .register, .home, .solo, .multi, .scoreboard, .waitinglobby {
   display: none;
 }

 #warning {
   color: tomato;
 }

 #btnReset {
   display: none;
 }

 body {
   margin: 0;
   padding: 0;
 }

 .multi, .solo {
   height: 100vh;
   overflow: hidden;
   position: relative;
 }

 .myCanvas, .soloCanavs {
   max-width: calc(100% + 2px);
   /* 4px: 2 white lines on canvas, 2px each */
   max-height: calc(100vh - 4px);
   /* code for vertically center from stackoverflow
  but lost url. */
   /* border-top: solid 2px white; */
   /* border-bottom: solid 2px white; */
   border-left: solid 1px white;
   border-right: solid 1px white;
   position: absolute;
   top: 0;
   bottom: 0;
   left: -1px;
   right: 1px;
   margin: auto;

 }

 nav {
   height: 4em;
 }

 .gameNav {
   position: relative;
   top: 2.5vw;
   left: 2.5vw;
 }

 #homeNotLoggedIn {
   display: block;
 }

 #homeLoggedIn {
   display: none;
 }